# General
CLIENT_PORT=3000
CLIENT_HOST=http://localhost

SERVER_PORT=3001
SERVER_HOST=http://localhost



# OpenAI
OPENAI_API_KEY=

# LinkedIn
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=



# MongoDB
MONGODB_ACCESS_URI=



# OAuth
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

# Auth0
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=