# General
CLIENT_HOST=http://localhost/3000

SERVER_HOST=http://localhost/3001



# OpenAI
OPENAI_API_KEY=

# LinkedIn
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=



# MongoDB
MONGODB_ACCESS_URI=



# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=